body {
  margin: 0;
  font-family: Georgia, serif;
  background-color: #7c92b3;
}

/* Top Bar */
.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background: #e8e6e2;
}

.logo {
  font-weight: bold;
  font-size: 20px;
}

nav button {
  margin-left: 10px;
  padding: 8px 14px;
  border-radius: 20px;
  border: 1px solid black;
  background: white;
  cursor: pointer;
}

/* Hero Section */
.search-hero {
  padding: 100px 80px;
  color: black;
}

.search-hero h1 {
  font-size: 48px;
  margin-bottom: 10px;
}

.search-hero p {
  color: #1d3b2f;
  margin-bottom: 40px;
}

/* Search Box */
.search-box {
  background: white;
  padding: 15px;
  border-radius: 25px;
  display: flex;
  gap: 10px;
  width: 600px;
}

.search-box input {
  border: none;
  outline: none;
  flex: 1;
  font-size: 14px;
}

.search-box button {
  background: black;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 20px;
  cursor: pointer;
}